
.contrainer{
    display: flex;
    justify-content: center;
    border: 1px solid red;
    font-family: sans-serif;
}
.form{
    margin: 13%;
    display: flex;
    justify-content: center;
    border: 1px solid red;
    flex-direction: column;
    width: 300px;
    height: 300px;
    font-family: sans-serif;
    background: rgb(245, 179, 179);
    border-radius: 20px;
}
.title{
   padding-left: 10px;
    font-size: 20px;
    margin-bottom: 5px;
}
.email{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.email input{
    text-align: center;
    border: 1px solid red;
    width: 80%;
    height: 30px;
    background: transparent;
    
}
.pass{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.pass input{
    text-align: center;
    border: 1px solid red;
    width: 80%;
    height: 30px;
    background: transparent;
}

.btn{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 1px solid slategrey;
    padding: 10px;
    
}
.btn button{
    border: none;
    border-radius: 10px;
    text-align: center;
    width: 40%;
}
/* .btn1{
    font-size: 15px;
    display: flex;
    justify-content: center;
    width: 40%;
    height: 30px;
    direction: none;
    background: greenyellow;
    border-radius: 10px;
    border: none;
}
.btn2{
    font-size: 15px;
    display: flex;
    justify-content: center;
    width: 40%;
    direction: none;
    background: greenyellow;
    border-radius: 10px;
    border: none;
} */
.forgot{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}